# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore data folder in MAIN
Concurrency_bug/MAIN/data/

# Ignore specific files in working copy
OG Code/working copy/*.pth
OG Code/working copy/test_data_predictions.csv

# Ignore all Python cache files
__pycache__/
*.py[cod]

# Ignore specific files by extension
*.pth


# Ignore MacOS system files
.DS_Store

# Ignore IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.temp



# Ignore all folders named data
data/   
FLAKYCAT/
sdp/
logs/